svg {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
.coverIcon {
    
    display:block;
}
#pageBg {
    z-index:0;
    
    position:fixed;
    top:0px; 
    left:0px; 
    width:100vw; 
    height:100vh; 
    background:radial-gradient(circle at 100%, rgb(192, 192, 192) 30%, rgba(2,0,36,1) 61%, rgba(9,9,121,1) 65%);
    
    /*radial-gradient(circle at 0%, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 37%, rgba(0,212,255,1) 100%);*/
}


.bgIcon {
    position:absolute;
    display:block;
    z-index:1;
    pointer-events: none;
    top:25%;
    left:55%;
}


.navBarMain {
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,215,0,1) 100%);
    z-index:5;
}


